div.form
{
	margin: 0 auto;
	width: 100%;
	font-size: 110%;
}

div.form input,
div.form textarea,
div.form select
{
	margin: 0.2em 0 0.5em 0;
	padding: 7px;
	width: 95%;
	border: 1px solid #DEDEDE;
	background: #EFEFEF;
	font-size: 0.9em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

div.form select
{
	width: 95%;
}

div.form textarea
{
	overflow: auto;
	height: auto;
}

div.form input:focus,
div.form textarea:focus,
div.form select:focus
{
	color: #3A3A3A;
	border: 1px solid #97d6eb;
}

div.form select:focus
{
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

div.form input[type="checkbox"]
{
	width: 20px;
	border: none;
	background: inherit;
}

div.form fieldset
{
	border: 1px solid #DDD;
	padding: 10px;
	margin: 0 0 10px 0;
    -moz-border-radius: 7px;
}

div.form label
{
	display: block;
	margin-top: 20px;
	font-weight: normal;
	font-size: 0.9em;
}

div.form input[type="submit"]
{
	margin-top: 20px;
	padding: 5px;
	width: 100px;
	border: 1px solid #8899DE;
	background: #223454;
	font-size: 0.9em;
	font-weight;
	color: white;
    cursor: pointer;
}

div.form input[type="submit"]:hover
{
	background: #223470;
}

div.form input[type="submit"]:active
{
	background: #223445;
}

div.form .row
{
	margin: 5px 0;
}

div.form .row.inline label
{
	display: inline;
}

div.form .row.inline input
{
	width: inherit;
	display: inline;
}

div.form .row.inline input[type="text"]
{
	width: 200px;
}

div.form .row.inline select
{
	width: 150px;
}

div.form .errorMessage
{
	color: red;
	display: inline;
}

div.wide.form label
{
	display: inline;
}

div.wide.form
{
	width: 600px;
}

div.wide.form input,
div.wide.form textarea,
div.wide.form select
{
	width: 585px;
}

div.wide.form textarea
{
	min-height: 100px;
}

div.wide.form input[type="submit"]
{
	width: 100px;
}