*
{
	margin: 0;
}

html
{
	height: 100%;
}

body
{
	margin: 0 auto;
	padding: 0;
	height: 100%;
	color: #555;
	font: normal 10pt Arial, Helvetica, sans-serif;
	background: white;
}

h3
{
}

a
{
	color: #3333FF;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a:active
{
	text-decoration: underline;
}

.page
{
	margin: 0 auto -36px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/*background: #DDFFDD;*/
}

.two-column-wrap
{
	/* width of the right menu + border */
	padding-right: 201px;
}

.two-column-left
{
	float: left;
	width: 100%;
	/*margin-top: 10px;*/
	/*display: inline-block;*/
}

.two-column-right
{
	float: right;
	width: 200px;
	margin-right: -201px;
	padding-bottom: 20px;
	color: #EEEEEE;
	background: #555555;
	-webkit-box-shadow: -1px 1px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: -1px 1px 10px rgba(0,0,0,0.3);
	-ms-box-shadow: -1px 1px 10px rgba(0,0,0,0.3);
	-o-box-shadow: -1px 1px 10px rgba(0,0,0,0.3);
	box-shadow: -1px 1px 10px rgba(0,0,0,0.3);
	-webkit-border-radius: 0 0 0 .2em; 
	-moz-border-radius: 0 0 0 .2em;
	-ms-border-radius: 0 0 0 .2em;
	-o-border-radius: 0 0 0 .2em;
	border-radius: 0 0 0 .2em;
}

.header
{
	margin: 0 auto;
	/*margin-bottom: 10px;*/
	/*padding: 5px 0px 5px;*/
	/*border-bottom: 1px dashed #9999FF;*/
	color: white;
	/*background: #4488D1;*/
	/*background: #3F48CC;*/
	background: #223454;
	-webkit-box-shadow: 0px 1px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 1px 10px rgba(0,0,0,.3);
	-ms-box-shadow: 0px 1px 10px rgba(0,0,0,.3);
	-o-box-shadow: 0px 1px 10px rgba(0,0,0,.3);
	box-shadow: 0px 1px 10px rgba(0,0,0,.3);
}

.content
{
	/*background: lightyellow;*/
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	padding-bottom: 20px;
    /*padding: 5px;*/
}

.footer
{
	padding: 5px;
	height: 26px;
	color: white;
	font-size: 0.8em;
	text-align: center;
	/*border-bottom: 1px solid #9C9C9C;*/
	/*background: #4488D1;*/
	background: #223454;
	-webkit-box-shadow: 0 -1px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 -1px 10px rgba(0,0,0,.3);
	-ms-box-shadow: 0 -1px 10px rgba(0,0,0,.3);
	-o-box-shadow: 0 -1px 10px rgba(0,0,0,.3);
	box-shadow: 0 -1px 10px rgba(0,0,0,.3);
}

/* Used to push down the footer */
.push
{
	height: 25px;
}

.logo
{
	float: left;
	padding: 5px 10px;
	font-size: 110%;
	font-weight: bold;
	font-style: italic;
}

.border-round
{
	border: 2px solid #9C9C9C;
	border-radius: 5px;
}

.centered-div
{
	/*width: 1000px;*/
	margin-left: auto;
	margin-right: auto;
	background: white;
}

.centered
{
	text-align: center;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.errorMessage
{
	color: red;
	display: inline;
}

.bigger
{
	font-size: 110%;
}

.clearboth
{
	clear: both;
}

/* light-blue-button
---------------------------------------------- */
.light-blue-button
{
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px Arial, Helvetica, sans-serif;
	padding: .3em .5em .35em;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	-ms-border-radius: .5em;
	-o-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.light-blue-button:hover
{
	text-decoration: none;
}

.light-blue-button:active
{
	position: relative;
	top: 1px;
}

.light-blue-button.big
{
	padding: .4em .75em .45em;
}

.light-blue-button.bigrounded
{
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

.light-blue-button.blue
{
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5)); 
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #00adee, #0078a5);
	background-image: -moz-linear-gradient(top, #00adee, #0078a5);
	background-image: -ms-linear-gradient(top, #00adee, #0078a5);
	background-image: -o-linear-gradient(top, #00adee, #0078a5);
	background-image: linear-gradient(top, #00adee, #0078a5);
}

.light-blue-button.blue:hover
{
	background: #007ead;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e)); 
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #0095cc, #00678e);
	background-image: -moz-linear-gradient(top, #0095cc, #00678e);
	background-image: -ms-linear-gradient(top, #0095cc, #00678e);
	background-image: -o-linear-gradient(top, #0095cc, #00678e);
	background-image: linear-gradient(top, #0095cc, #00678e);
}

.light-blue-button.blue:active
{
	color: #80bed6;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee)); 
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #0078a5, #00adee);
	background-image: -moz-linear-gradient(top, #0078a5, #00adee);
	background-image: -ms-linear-gradient(top, #0078a5, #00adee);
	background-image: -o-linear-gradient(top, #0078a5, #00adee);
	background-image: linear-gradient(top, #0078a5, #00adee);
}

/* button
---------------------------------------------- */
.button
{
	padding: 5px 10px 5px;
	border: 1px solid #8899DE;
	background: #223454;
	font-size: 1em;
	font-weight: normal;
	color: white;
	text-decoration: none;
    cursor: pointer;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.button:hover
{
	background: #223470;
	text-decoration: none;
}

.button:active
{
	position: relative;
	top: 1px;
	text-decoration: none;
	background: #223445;
}

/* index
---------------------------------------------- */
.index
{
	margin: 50px auto;
	max-width: 80%;
	color: #3A3A3A;
}

.index .title
{
	font-family: cursive;
	font-size: 270%;
	font-weight: bold;
	font-style: italic;
	line-height: 170%;
}

.index .subtitle
{
	margin: 30px auto;
	font-size: 140%;
	font-weight: bold;
	text-align: center;
}

.index .describe-system
{
	margin: 50px auto 30px;
	width: 100%;
	border-bottom: 2px solid #9C9C9C;
}

.index .describe-system .description
{
	float: left;
	margin: 0;
	max-width: 40%;
	line-height: 170%;
}

.index .describe-system .description p.heading
{
	margin: 0 0 30px 0;
	font-size: 130%;
	font-weight: bold;
}

.index .describe-system .description p.desc
{
	font-size: 130%;
}

.index .describe-system .img
{
	float: right;
	margin: 0;
	max-width: 60%;
}

.index .describe-system .img img
{
	border: none;
}

.index .describe-backlog
{
	float: left;
	margin: 0 5px;
	padding: 0 0 0 10px;
	max-width: 44%;
	border-left: 2px solid #9C9C9C;
}

.index .describe-backlog .description
{
	float: left;
	max-width: 60%;
}

.index .describe-backlog .img
{
	float: right;
	max-width: 40%;
}

.index .describe-board
{
	float: right;
	margin: 70px 5px 30px;
	padding: 0 10px 0 0;
	max-width: 48%;
	border-right: 2px solid #9C9C9C;
}

.index .describe-board .description
{
	float: left;
	max-width: 40%;
}

.index .describe-board .img
{
	float: right;
	max-width: 60%;
}

.index .describe-charts
{
	float: left;
	margin: 0px 5px;
	padding: 0 0 0 10px;
	max-width: 80%;
	border-left: 2px solid #9C9C9C;
}

.index .describe-charts .description
{
	float: left;
	max-width: 60%;
}

.index .describe-charts .img
{
	float: left;
	margin: 10px auto 0 auto;
	text-align: center;
	width: 100%;
}

.index img
{
	border: 1px solid #9C9C9C;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.index .bottom-message
{
	margin: 30px auto;
	font-size: 130%;
}

/* member-index
---------------------------------------------- */

.member-index
{
	margin: 50px auto 0;
	min-height: 500px;
	max-width: 80%;
}

.member-index .title
{
	text-align: center;
	font-size: 200%;
	font-weight: bold;
}

.member-index .directions
{
	margin: 50px auto 0;
	font-size: 120%;
}

.member-index .direction
{
	margin: 10px;
	padding: 20px;
	width: 40%;
	min-height: 100px;
	background: #BFEEEE;
	border: 1px solid #9C9C9C;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-box-shadow: 0 -1px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 -1px 10px rgba(0,0,0,.3);
	-ms-box-shadow: 0 -1px 10px rgba(0,0,0,.3);
	-o-box-shadow: 0 -1px 10px rgba(0,0,0,.3);
	box-shadow: 0 -1px 10px rgba(0,0,0,.3);
}

.member-index .direction .link
{
	float: right;
}

.member-index  .teams
{
	float: left;
}

.member-index  .projects
{
	float: right;
}

/* signin
---------------------------------------------- */
.signin
{
	margin: 20px auto;
	padding: 10px;
	max-width: 400px;
}

/* register
---------------------------------------------- */
.register
{
	margin: 20px auto;
	padding: 10px;
	max-width: 400px;
}

.register table
{
	width: 100%;
}

.register table td.label
{
	width: 50%;
	text-align: right;
}

.register table td.input
{
	width: 50%;
	text-align: left;
}

/* team
---------------------------------------------- */
.team
{
	margin: 30px auto;
	max-width: 80%;
}

.team .team-title
{
	margin: 30px auto 30px;
	font-size: 150%;
}

.team .team-select
{
	width: 100%;
}

.team .team-select select
{
	width: 400px;
}

.team table
{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	margin: 10px 0px 10px;
}

.team table tr
{
}

.team table tr.border-bottom
{
	border-bottom: 2px solid #9C9C9C;
}

.team table th
{
	font-size: 110%;
	font-style: italic;
	font-weight: bold;
	min-width: 50px;
}

.team table td
{
	padding: 3px;
	height: 30px;
	border-bottom: 1px solid #9C9C9C;
}

/* project
---------------------------------------------- */
.project
{
	margin: 10px auto;
	max-width: 75%;
}

.project .project-title
{
	margin-top: 30px;
	font-size: 150%;
}

.project .description
{
	margin: 10px auto 30px;
	font-size: 130%;
}

.project ul
{
	margin: 0;
	padding: 0 5px 0;
	display: inline;
	list-style-type: none;
}

.project ul li
{
	margin: 0px 5px 0px;
	padding: 5px;
	border-bottom: 1px solid #9C9C9C;
}

.project ul li .left
{
	width: 80%;
}

.project ul li .right
{
	width: 20%;
	text-align: right;
}

.project ul li:hover
{
	background: #D9FFAA;
}

.project ul li .project-element
{
	padding: 1px 8px;
	display: block;
	color: #3A3A3A;
	font-size: 110%;
	text-decoration: none;
	background-color: transparent;
}

.project ul li .project-element:hover
{
	color: black;
}

.project ul li .project-actions
{
	display: none;
}

.project ul li:hover .project-actions
{
	display: block;
}

/* backlog
---------------------------------------------- */
.backlog
{
	margin: 10px auto;
	max-width: 80%;
	color: #3A3A3A;
}

.backlog .backlog-title
{
	margin: 30px auto 30px;
	font-size: 150%;
}

.backlog .actions
{
	padding: 20px 0 0 10px;
}

.backlog ul.story-list
{
	margin: 0;
	padding: 0 5px 0;
	list-style-type: none;
}

.backlog ul.story-list li.story
{
	margin: 0px 5px 0px;
	padding: 5px;
	border-bottom: 1px solid #9C9C9C;
}

.backlog ul.story-list li.story .story-actions
{
	display: none;
}

.backlog ul.story-list li.story:hover .story-actions
{
	display: block;
}

.backlog ul.story-list li.story a.story
{
	padding: 1px 0px;
	display: block;
	color: #3A3A3A;
	font-size: 120%;
	text-decoration: none;
	background-color: transparent;
}

.backlog ul.story-list li.story a.story:hover
{
	color: black;
}

.backlog ul.story-list li.story a.story:hover span.title
{
	text-decoration: underline;
}

.backlog ul.story-list li.story a.story span.description
{
	margin: 0 0 0 20px;
	color: #888888;
	font-size: 75%;
}

.backlog ul.story-list li.story .left.story-title
{
	width: 85%;
}

.backlog ul.story-list li.story .left.story-task-title
{
	width: 85%;
}

.backlog ul.story-list li.story .story-tasks
{
	padding: 5px 0 0 20px;
}

.backlog ul.task-list
{
	margin: 5px 0;
	padding: 0;
	list-style-type: none;
}

.backlog ul.task-list li
{
	padding: 5px 0;
	border-bottom: 1px dotted #9C9C9C;
}

.backlog ul.task-list li:hover
{
	background: #D9F9AA;
}

.backlog ul.task-list li .task-actions
{
	display: none;
}

.backlog ul.task-list li:hover .task-actions
{
	display: block;
}

.backlog ul.task-list li span.description
{
	margin: 0 0 0 20px;
	color: #888888;
	font-size: 75%;
}

.backlog .view span.name
{
	font-size: 120%;
}

.backlog .view span.description
{
	margin: 30px 0 0 0;
	font-size: 110%;
}

/* sprint plan
---------------------------------------------- */
div.sprint-plan
{
	margin: 30px auto;
}

div.sprint-plan-backlog
{
	float: left;
	padding-left: 5px;
	width: 49%;
	min-width: 100px;
}

div.sprint-plan-backlog .title
{
	margin: 0;
	padding: 5px;
	font-size: 140%;
	text-align: center;
}

div.sprint-plan-backlog .actions
{
	padding: 0 0 0 10px;
}

.sprint-plan-backlog ul.story-list
{
	margin: 5px 0 10px 0;
	padding: 0 5px 0;
	list-style-type: none;
}

.sprint-plan-backlog ul.story-list li.story
{
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #9C9C9C;
}

.sprint-plan-backlog ul.story-list li.story a.story
{
	padding: 1px 0px;
	display: block;
	color: #3A3A3A;
	font-size: 120%;
	text-decoration: none;
	background-color: transparent;
}

.sprint-plan-backlog ul.story-list li.story a.story:hover
{
	color: black;
	text-decoration: underline;
}

.sprint-plan-backlog ul.story-list li.story .left.story-title
{
	width: 88%;
}

.sprint-plan-backlog ul.story-list li.story .left.story-task-title
{
	width: 88%;
}

.sprint-plan-backlog ul.story-list li.story .story-actions
{
	display: none;
}

.sprint-plan-backlog ul.story-list li.story:hover .story-actions
{
	display: block;
}

.sprint-plan-backlog ul.story-list li.story .story-tasks
{
	padding: 5px 0 0 20px;
}

.sprint-plan ul.task-list
{
	margin: 5px 0;
	padding: 0;
	list-style-type: none;
}

.sprint-plan ul.task-list li
{
	padding: 5px 5px;
	border-bottom: 1px dotted #9C9C9C;
}

.sprint-plan ul.task-list li .left.task-title
{
	width: 88%;
}

.sprint-plan ul.task-list li a.task
{
	color: #3A3A3A;
	display: block;
}

.sprint-plan ul.task-list li a.task:hover
{
	color: black;
}

.sprint-plan ul.task-list li .task-actions
{
	display: none;
}

.sprint-plan ul.task-list li:hover .task-actions
{
	display: block;
}

.sprint-plan ul.task-list li.added-task
{
	background: #D9F977;
}

.sprint-plan ul.task-list li.othersprint-task
{
	background: #EFDD88;
}

.sprint-plan ul.task-list li:hover
{
	background: #D9F9AA;
}

.sprint-plan ul.task-list li span.description
{
	margin: 0 0 0 20px;
	color: #888888;
	font-size: 75%;
}

div.sprint-plan-sprint
{
	float: right;
	margin-right: 5px;
	width: 49%;
	min-width: 100px;
	border-left: 1px solid #9C9C9C;
}

div.sprint-plan-sprint .title
{
	margin: 0;
	padding: 5px;
	font-size: 140%;
	text-align: center;
}

div.sprint-plan-sprint .sprint-list
{
	padding: 10px 10px 0 10px;
}

div.sprint-plan-sprint .sprint-list select
{
	margin: 0;
	width: 100%;
}

div.sprint-plan-sprint .sprint-task-list
{
	padding: 0 10px 10px 10px;
}

div.sprint-plan-sprint  ul.task-list li.added-task
{
	background: inherit;
}

div.sprint-plan-sprint  ul.task-list li.added-task:hover
{
	background: #D9F9AA;
}

/* history
---------------------------------------------- */
.history
{
	margin: 30px auto;
	max-width: 50%;
	color: #3A3A3A;
}

.history .history-title
{
	margin: 10px 0 10px 0;
	font-size: 150%;
}

.history .history-description
{
	margin: 30px 0 10px 0;
}

.history ul
{
	margin: 0;
	padding: 0 5px 0;
	display: inline;
	list-style-type: none;
}

.history ul li
{
	margin: 0px 5px 0px;
	padding: 5px;
	border-bottom: 1px solid #9C9C9C;
}

.history ul li .left
{
	width: 80%;
}

.history ul li .right
{
	width: 20%;
	text-align: right;
}

.history ul li:hover
{
	background: #D9FFAA;
}

.history ul li a.sprint-element
{
	padding: 1px 8px;
	display: block;
	color: #3A3A3A;
	font-size: 110%;
	text-decoration: none;
	background-color: transparent;
}

.history ul li a.sprint-element:hover
{
	color: black;
}

.history ul li span.description
{
	margin: 0 0 0 20px;
	color: #888888;
	font-size: 75%;
}

/* dashboard
---------------------------------------------- */
.dashboard
{
	margin: 30px auto;
	max-width: 80%;
	color: #3A3A3A;
}

.dashboard-title
{
	margin: 0 0 15px 0;
}

.burndown-area
{
	float: left;
	padding: 0 10px 0 0;
	width: 50%;
	border-right: 1px solid #9C9C9C;
}

.velocity-area
{
	float:right;
	width: 45%;
}

/* board
---------------------------------------------- */
.sprint-board
{
	margin: 10px auto;
	padding: 0 10px 0;
}

.sprint-board .sprint-board-title
{
	margin: 0 0 10px;
	font-size: 150%;
}

.sprint-board .board
{
	width: 100%;
}

.sprint-board .board table
{
	width: 100%;
}

.sprint-board .board table th
{
	font-weight: bold;
}

.sprint-board .board table td
{
	vertical-align: top;
}

.sprint-board .board .column
{
	width: 100%;
	min-height: 400px;
}

.sprint-board .board .column .task
{
	margin: 3px 0 0;
	padding: 5px;
	border: 1px solid #9C9C9C;
	cursor: move;
	-webkit-box-shadow: -1px 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: -1px 1px 2px rgba(0,0,0,.3);
	-ms-box-shadow: -1px 1px 2px rgba(0,0,0,.3);
	-o-box-shadow: -1px 1px 2px rgba(0,0,0,.3);
	box-shadow: -1px 1px 2px rgba(0,0,0,.3);
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.sprint-board .board .column .task .task-title
{
	float: left;
	width: 75%;
}

.sprint-board .board .column .task .task-estimation
{
	float: right;
	width: 25%;
	text-align: right;
}

.sprint-board .board .column .task .task-actions
{
	display: none;
	float: left;
}

.sprint-board .board .column .task:hover .task-actions
{
	display: block;
}

.sprint-board .board .column .task .task-assignees
{
	float: right;
	text-align: right;
}

.sprint-board .board .column .placeholder
{
	margin: 3px 0 0;
	min-height: 50px;
	background-color: #CCCCCC;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

/* mainmenu
---------------------------------------------- */
ul.mainmenu
{
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.mainmenu li
{
	float: left;
	margin: 0 auto;
	padding: 0;
	position: static;
}

ul.mainmenu li a
{
	/*color: #2233FF;*/
	margin: 0 auto;
	padding: 7px 7px 7px 7px;
	display: block;
	color: #EEEEEE;
	font-size: 12px;
	/*font-weight: bold;*/
	text-decoration: none;
}

ul.mainmenu li:hover a, ul.mainmenu a:active
{
	color: white;
	text-decoration: none;
	background-color: #223499;
}

/* drop-down menu in the main menu
---------------------------------------------- */
ul.mainmenu li a.dropdown
{
}

ul.mainmenu li a.dropdown:hover
{
	background-color: inherit;
}

ul.mainmenu li ul.dropdown
{
	position: absolute;
	display: none;
	right: 0px;
	margin: 0;
	padding: 10px 0 10px;
	min-width: 180px;
	background-color: #FFFFFF;
	border: 1px solid #9C9C9C;
	border-top: none;
	border-right: none;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	z-index: 1000;
}

ul.mainmenu li ul.dropdown.options
{
	min-width: inherit;
}

ul.mainmenu li:hover ul.dropdown
{
	display: block;
}

ul.mainmenu li:hover a.dropdown
{
	background-color: white;
	color: black;
}

ul.mainmenu li ul.dropdown li
{
	float: none;
	padding: 0 10px 0;
	display: list-item;
	color: #555555;
	list-style-type: none;
}

ul.mainmenu li ul.dropdown li a
{
	margin: 0;
	padding: 0;
	display: block;
	color: #2233FF;
	background-color: transparent;
	font-weight: normal;
	text-decoration: none;
}

ul.mainmenu li ul.dropdown li a:hover
{
	text-decoration: underline;
}

ul.mainmenu li ul.dropdown li.separator
{
	margin: 10px 0 10px 0;
	border-bottom: 1px solid #9C9C9C;
}

/* language menu in the main menu - inline
---------------------------------------------- */
ul.mainmenu li ul.dropdown li ul.language
{
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px;
}

ul.mainmenu li ul.dropdown li ul.language li
{
	display: inline;
	padding: 0px 5px 0px;
	border-left: 1px solid #9C9C9C;
}

ul.mainmenu li ul.dropdown li ul.language li.first
{
	margin: 0;
	padding: 0px 5px 0px 0px;
	border: none;
}

ul.mainmenu li ul.dropdown li ul.language li a
{
	display: inline;
	margin: 0;
	padding: 0;
}

/* generalmenu
---------------------------------------------- */
/*
.generalmenu
{
	float: right;
	margin: 0;
	padding: 0;
	width: 200px;
}

.generalmenu ul
{
	margin: 5px;
	display: inline;
	list-style-type: none;
}

.generalmenu ul li
{
	font-size: 9pt;
}

.generalmenu ul li:hover
{
	background: #DDDDDD;
}

.generalmenu ul li a
{
	padding: 5px 8px;
	color: #222222;
	text-decoration: none;
	background-color: transparent;
	display: block;
}

.generalmenu ul li a:hover
{
	color: black;
}
*/

/* rightmenu
---------------------------------------------- */
.rightmenu
{
	float: right;
	margin: 10px 0px 0px;
	padding: 0;
	width: 200px;
}

.rightmenu .rightmenu-title
{
	margin: 0px 20px 0px;
	padding: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 105%;
	border-bottom: 1px solid #999999;
}

.rightmenu ul
{
	margin: 0px 5px 0px;
	padding: 0px;
	list-style-type: none;
}

.rightmenu ul li
{
	font-size: 9pt;
	margin: 0px 5px 0px;
}

.rightmenu ul li:hover
{
	background: #DDDDDD;
}

.rightmenu ul li a
{
	padding: 5px 8px;
	color: #EEEEEE;
	text-decoration: none;
	background-color: transparent;
	display: block;
}

.rightmenu ul li a:hover
{
	color: black;
}

/*
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}
*/
